\:root
    // Colors
    --primary-color: #eb2164
    --primary-color-light: #ff3366
    --primary-color-dark: #ba265d
    --white: #fff
    --light-grey-color-1: #faf9f9
    --light-grey-color-2: #f4f2f2
    --light-grey-color-3: #f0eeee
    --light-grey-color-4: #ccc
    --dark-grey-color-1: #333
    --dark-grey-color-2: #777
    --dark-grey-color-3: #999
    // Box shadows
    --dark-shadow: 0 2rem 6rem rgba(0, 0, 0, .3)
    --light-shadow: 0 2rem 5rem rgba(0,0,0, .06)
    --light-border-bottom: 1px solid var(--light-grey-color-2)

// 1200 px
$largest-break-point: 75em
// 1100 px
$large-break-point: 68.75em
// 900 px
$medium-break-point: 56.25em

*
    margin: 0
    padding: 0

*,
*::before,
*::after
    box-sizing: inherit

html 
    box-sizing: border-box
    // 1rem = 10px
    font-size: 62.5%
    @media only screen and (max-width: $large-break-point)
        font-size: 50%

body
    font-family: 'Open Sans', sans-serif
    font-weight: 400
    line-height: 1.6
    color: var(--dark-grey-color-2)
    background-image: linear-gradient(to right bottom, var(--primary-color-light), var(--primary-color-dark))
    background-size: cover
    background-repeat: no-repeat
    // For testing purposes
    min-height: 100vh
